# Backend API
# Public backend URL used by the browser.
VITE_API_URL=http://localhost:8080/api

# Frontend app
# Public frontend URL used to generate tracking links.
VITE_APP_URL=http://localhost:4200
